{
    "presets": [
        "babel-preset-exponent"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd-mobile"
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-react-jsx-source"
            ]
        }
    }
}
